@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    /* Dark theme */
    --background-dark-theme: #020817;
    --font-highlight-dark-theme: #e2e8f0;
    --font-base-dark-theme: #64748B;

    /* Light theme */
}

.bitcount-single {
  font-family: "Bitcount Single", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}
.google-sans {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "GRAD" 0;
}

body {
    background-color: var(--background-dark-theme);
    color: var(--font-dark-theme);

    font-family: "Google Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "GRAD" 0;
}

.nav-container {
    /* Container */
    position: fixed;
    width: 100%;
    top: 0;

    /* Content */
    display: flex;
    justify-content: space-around;
    padding: 1.2rem;
    backdrop-filter: blur(10px);


    /* Styles */
    border-bottom: 1px solid #1E293B;




}

a,
a::after,
a::before {
    text-decoration: none;
    color: var(--font-base-dark-theme);
}

a:hover {
    color: var(--font-highlight-dark-theme);
}

.myself {
    /* Container */
    height: 100vh;

    /* Content */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}
.h2-presentation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: var(--font-highlight-dark-theme);
    font-size: 3rem;
}

.myself p {
    font-size: 1.2rem;
    color: #64748B;
}