@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');


* {
    /* Font */
    font-family: "Zen Dots", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    color: white;
    background-image: url("images/space-background.jpg");
    background-size: cover;
    text-align: center;
}

nav{
    display: flex;
    justify-content: space-between;
    
}

.btn {
    padding: 6px 12px;
    background: white;
    border: none;
}